/* your styles go here */
/* Example site test */
.home-carousel {
  background: url('../img/bg.jpeg') center center repeat;
}
h3{
  text-transform: uppercase;
}
.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}
.a-card{
  margin: 2rem;
  border: 1px solid black;
}