<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">

                <div class="row">

                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-9" id="blog-post">

                        {{ if or .Params.author .Params.date }}
                          <p class="text-muted text-uppercase mb-small text-right">
                            {{ if isset .Params "authors" }}
			      {{ i18n "authorBy" }} {{ range $index, $author := .Params.authors }}{{ if $index }}, {{ end }}<a href="{{ (printf "%s/%s" ("authors" | relLangURL) ($author | urlize)) }}">{{ $author }}</a>{{ end }}
                            {{ end }}
                            {{ if and .Params.author .Params.date }} | {{ end }}
                            {{ if .Params.date }}
                              {{ $createdAt := .Date.Format .Site.Params.date_format }}
                              {{ range $index, $month := slice "January" "February" "March" "April" "May" "June" "July" "August" "September" "October" "November" "December" }}
                                  {{ $createdAt = replace $createdAt $month (i18n $month) }}
                              {{ end }}
                              {{ $createdAt }}
                            {{ end }}
                          </p>
                        {{ end }}

                        <div id="post-content">
                        	
                        		{{ $banner := .Params.location }}
	                        	{{ range $num := (seq .Params.images) }}
	                        		{{ $i := string . }}
		                        	
		                        	{{ $ii := printf "%v%v%v" $banner $i ".jpg"}}
		                        	{{ $image := resources.Get $ii }}
			                        	{{ with $image }}
										  <img src="{{ .RelPermalink }}" width="100%">
										{{ end }}
									
								{{ end }}
							
                        	
							
							  
							
                        	
                          {{ .Content }}
                        	
                        </div>
                        <div class="row">

                        	{{ partial "image_no_title.html" (dict "context" . "ppp" .Params.design "name" "design & comfort" "path" .Params.img_path) }}

                        	{{ partial "image_no_title.html" (dict "context" . "ppp" .Params.performance "name" "performance" "path" .Params.img_path) }}

                        	

                        	{{ partial "image_no_title.html" (dict "context" . "ppp" .Params.design "name" "design" "path" .Params.img_path) }}
                        	
							{{ if isset .Params "safetyextra" }}
	                        	{{ partial "image_text.html" (dict "context" . "ppp" .Params.safety "ppp_title" .Params.safetyextra "name" "safety" "path" .Params.img_path) }}

                        	{{ else }}
                        		{{ partial "image_no_title.html" (dict "context" . "ppp" .Params.safety "name" "safety" "path" .Params.img_path) }}

                        	{{ end }}
                        </div>
                        <!-- /#post-content -->
                        {{ if .Site.DisqusShortname }}
                        <div id="comments">
                            {{ template "_internal/disqus.html" . }}
                        </div>
                        {{ end }}

                    </div>
                    <!-- /#blog-post -->

                    <!-- *** LEFT COLUMN END *** -->

                    <!-- *** RIGHT COLUMN *** -->

                    <div class="col-md-3">

                        <!-- *** MENUS AND WIDGETS *** -->

                        {{ partial "sidebar.html" . }}

                        <!-- *** MENUS AND FILTERS END *** -->

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** RIGHT COLUMN END *** -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
